* {
    box-sizing: border-box;
}

:root {
    --font-size: 12px;
}

html {
    font-family: Poppins, Helvetica, sans-serif;
    scroll-behavior: smooth;
    /* font-weight: 900; */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0; 
    padding: 0;
}

.wrapper {
    max-width: 960px; 
    margin: 0 auto;
    border: 1px solid red;
} 

.header {
    /* display: flex;
    justify-content: space-around; */
}

.navigation {
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    height: 50px;
    border-radius: 5px;
}

.navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navigation-item a {
    color: white;
    text-decoration: none;  
    transition: color 0.5s;
}   

.navigation-item a:hover {
    color: lightgrey;
} 

.navigation-link {
    /* padding: 0 20px; */
    line-height: 50px;
    transition: .3s;
}

.logo__link {
    height: 50px;   
    width: 100px;
}

.profile-pic {
    border-radius: 50%;
    height: 200px;
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cv-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about, .skills, .code, .experience, .education, .languages, .contacts  {
    width: 45%;
    border-radius: 5px;
    border: 3px solid red;
}

.contents {

}
.footer-navigation {
    color: black;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: black;
}